/*****************************************************************************/
/* TicketsIndex: Style */
/*****************************************************************************/

#ticketJump {
    margin-top: 3px;
    margin-right: 3px;
    width: 200px;
}
