<template name="TicketsShow">
    <div class="row">

        <div class="col-sm-4 col-sm-push-8" id="ticketSidebar">
            <div id="ticketSidebarNav">
                {{> TicketsShowSidebar }}
            </div>
        </div>

        <div class="col-sm-8 col-sm-pull-4">

            <div class="panel {{infoPanelClass ticket.status}} panel-small">
                <div class="panel-heading clearfix">
                    <a href="" class="">
                        <span class="fui-user"></span> {{ticket.userName}}
                    </a>

                    <small><span class="fui-arrow-right text-muted"></span></small>

                    reported

                    <a href="{{urlFor 'tickets.show' uid=ticket.uid}}">
                        case #{{ticket.uid}}
                    </a>
                    <span class="text-muted pull-right">
                        {{timeAgo ticket.createdAt}}
                    </span>
                </div>
                <div class="panel-body">
                    <div class="lead no-margin-bottom text-center">
                        {{ticket.subject}}
                    </div>
                    <hr class="no-margin-top"/>
                    {{#markdown}}{{ticket.description}}{{/markdown}}
                </div>
            </div>

            {{#each ticket.updates}}
                {{> TicketUpdatesPartial}}
            {{/each}}

            {{> TicketShowCommentForm }}
        </div>

    </div>
</template>

<template name="TicketUpdatesPartial">
    <div class="panel panel-info panel-small">
        <div class="panel-heading panel-heading-condensed clearfix">
            <a href="" class="">
                <span class="fui-user"></span> {{userName}}
            </a>

            <small><span class="fui-arrow-right text-muted"></span></small>

            updated

            <a href="{{urlFor 'tickets.show' uid=ticket.uid}}">
                case #{{ticket.uid}}
            </a>
            <span class="text-muted pull-right">
                {{timeAgo createdAt}}
                &nbsp; <button class="close">&times;</button>
            </span>
        </div>
        <div class="panel-body">
            {{> TicketShowChanges}}
        </div>
    </div>
</template>

<template name="TicketShowChanges">
    {{#if comment}}
    <div class="row">
        <div class="col-xs-3">
            <code>comment</code>
        </div>
        <div class="col-xs-9">
            <span>
                {{#markdown}}{{comment}}{{/markdown}}
            </span>
        </div>
    </div>
    {{/if}}
    {{#each fields}}
    <div class="row">
        <div class="col-xs-3">
            <code>{{name}}</code>
        </div>
        <div class="col-xs-9">
            <span class="text-muted">
                {{before}} <small class="fui-arrow-right"></small>
            </span>
            {{after}}
        </div>
    </div>
    {{/each}}
</template>

<template name="TicketShowCommentForm">
    <div class="panel panel-info panel-small" id="ticketCommentForm">
        <div class="panel-heading panel-heading-condensed clearfix">
            <a href="" class="">
                <span class="fui-user"></span> {{ticket.userName}}
            </a>

            <small><span class="fui-arrow-right text-muted"></span></small>

            new comment for

            <a href="{{urlFor 'tickets.show' uid=ticket.uid}}">
                case #{{ticket.uid}}
            </a>
            <button class="btn btn-info btn-sm pull-right postComment">Send</button>
        </div>
        <div class="panel-body" id="epicEditor">
            <textarea id="TicketCommentInput"></textarea>
        </div>
    </div>
</template>

